@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/Regal.cshtml";
}


<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="~/bootstrap/bootstrap/bootstrap.css.css" rel="stylesheet" />
<style type="text/css">
<!--
.style2 {font-size: 36px; font-family: "Times New Roman", Times, serif; color: #CC0000;}


.MyCss
	{
	   
  font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #0066FF;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
			   }
			   
		.PageBG
		{
		 background:#CCCCCC;
		  
		}	   
			
	
}
.style3 {color: #FF0000}




-->
</style>
</head>



          <h3 align="center">MAIN PAGE</h3>

